<div class="panel panel-default">
    <div class="panel-heading">
        Pharmacist Prescription
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="phprescriptions.search_key">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Prescription ID</th>
                <th>Doctor Name</th>
                <th>Pharmacist Name</th>
                <th>Patient Name</th>
                <th>Patient Age</th>
                <th>Date</th>
                <th>Dispensed Drugs</th>
            </tr>
            </thead>

            <tbody ng-repeat="item in phprescriptions.phprescription | filter:phprescriptions.search_key">
            <tr>
                <td>{{item.phpId}}</td>
                <td>{{item.dName}}</td>
                <td>{{item.phName}}</td>
                <td>{{item.pName}}</td>
                <td>{{item.pAge}}</td>
                <td>{{item.date.substr(0,10)}}</td>
                <td>
                    <table>
                        <tr ng-repeat="delivered in item.deliveredDrugs">
                            <td style="text-align: left; padding-right: 10px; ">{{delivered.name}}</td>
                            <td style="text-align: center; padding-left: 10px;border-left: 2px solid #e1e1e1;">{{delivered.qty}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
