<div class="row">
    <div class="col-md-4">
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="logs.search_key">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            &nbsp;&nbsp;&nbsp;&nbsp;<label>Search by:</label>
            &nbsp;&nbsp;&nbsp;<div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info" ng-click="logs.setFilter('description')">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Description
            </label>
            <label class="btn btn-info" ng-click="logs.setFilter('date')">
                <input type="radio" name="options" id="option2" autocomplete="off" > Date
            </label>
            <label class="btn btn-info" ng-click="logs.setFilter('time')">
                <input type="radio" name="options" id="option2" autocomplete="off" > Time
            </label>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            &nbsp;&nbsp;<label>Order by:</label>
            &nbsp;&nbsp;&nbsp;<div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info" ng-click="logs.setOrderBy('date')">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Date
            </label>
            <label class="btn btn-info" ng-click="logs.setOrderBy('time')">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Time
            </label>
        </div>
        </div>
    </div>
</div>
<table class="table table-hover" style="margin-top: 10px">
    <thead>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in logs.logs | filter: {'description':logs.search_key} | orderBy: logs.order">
        <td width="100px">{{item.date}}</td>
        <td width="100x">{{item.time}}</td>
        <td>{{item.description}}</td>
    </tr>
    </tbody>
</table>

<div data-pagination="" data-num-pages="numPages()"
     data-current-page="currentPage" data-max-size="maxSize"
     data-boundary-links="true"></div>