<div class="panel panel-default">
    <div class="panel-heading">
        Add new batch
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" id="addBatchForm" ng-submit="batch.addBatch()">
                    <div class="form-group">
                        <label for="drugCategory" class="col-md-4 control-label" >Drug Category</label>
                        <div class="col-md-8">
                            <select id="drugCategory" class="form-control" ng-model="batch.batchData.dCategory" ng-change="batch.changeCategory()" required>
                                <option value="" disabled="disabled" selected="selected">Please select a type</option>
                                <option ng-repeat="item in batch.cats" value="{{item}}">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="drugName" class="col-md-4 control-label" >Drug Name</label>
                        <div class="col-md-8">
                            <select id="drugName" class="form-control" ng-model="batch.batchData.drugName" required>
                                <option value="" disabled="disabled" selected="selected">Please select a type</option>
                                <option ng-repeat="item in batch.drugNames2" value="{{item.dName}}">{{item.dName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="batchNo" class="col-md-4 control-label" >Batch Number</label>
                        <div class="col-md-8">
                            <input type="text" id="batchNo" class="form-control" ng-model="batch.batchData.bNumber"  required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="batchType" class="col-md-4 control-label" >Type</label>
                        <div class="col-md-8">
                            <select id="batchType" class="form-control" ng-model="value1" required ng-change="batch.setType(value1)">
                                <option value="" disabled="disabled" selected="selected">Please select a type</option>
                                <option value="cartons">Cartons</option>
                                <option value="bottles">Bottles</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="batchContent" class="col-md-4 control-label" >Content</label>
                        <div class="col-md-8">
                            <select id="batchContent" class="form-control" ng-model="value2" required ng-change="batch.setContent(value2)">
                                <option value="" disabled="disabled" selected="selected">Please select a type</option>
                                <option value="tablets">Tablets</option>
                                <option value="liquid">Liquid</option>
                            </select>
                        </div>
                    </div>

                    <!-- show hide fields -->

                    <div class="form-group" ng-show="batch.cartons && batch.tablets">
                        <label for="batchContentType" class="col-md-4 control-label" >Content Type</label>
                        <div class="col-md-8">
                            <select id="batchContentType" class="form-control" ng-model="value3" ng-change="batch.setContentType(value3)"  required>
                                <option value="" disabled="disabled" selected="selected">Please select a type</option>
                                <option value="bbottles">Bottles</option>
                                <option value="bcards">Cards</option>
                            </select>
                        </div>
                    </div>



                    <!-- Cartons, Tablets, Bottles -->

                    <div class="form-group" ng-show="batch.cartons && batch.tablets" >
                        <label for="noOfCartons" class="col-md-4 control-label" >Number of Cartons</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfCartons" class="form-control" ng-model="set.data1">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bbottles">
                        <label for="noOfBottleCartons" class="col-md-4 control-label" >Number of Bottles per Carton</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfBottleCartons" class="form-control"  ng-model="set.data2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bbottles">
                        <label for="noOfTabletBottles1" class="col-md-4 control-label" >Number of Tablets per Bottle</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfTabletBottles1" class="form-control"  ng-model="set.data3">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bbottles">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-primary" ng-click="batch.calculateQuantity(set)">Calculate Quantity</button>
                        </div>
                    </div>

                    <!-- Cartons, Tablets, Cards -->


                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bcards">
                        <label for="noOfCardsCartons" class="col-md-4 control-label" >Number of Cards per Carton</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfCardsCartons" class="form-control" ng-model="set.data2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bcards">
                        <label for="noOfTabletCard" class="col-md-4 control-label" >Number of Tablets per Card</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfTabletCard" class="form-control" ng-model="set.data3">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.tablets && batch.bcards">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-primary" ng-click="batch.calculateQuantity(set)">Calculate Quantity</button>
                        </div>
                    </div>

                    <!-- Cartons, Liquid -->

                    <div class="form-group" ng-show="batch.cartons &&  batch.liquid">
                        <label for="noOfCartons2" class="col-md-4 control-label" >Number of Cartons</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfCartons2" class="form-control" ng-model="set3.data1">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.liquid ">
                        <label for="noOfBottleCartons2" class="col-md-4 control-label" >Number of Bottles per Carton</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfBottleCartons2" class="form-control" ng-model="set3.data2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.cartons && batch.liquid">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-primary" ng-click="batch.calculateQuantity(set3)">Calculate Quantity</button>
                        </div>
                    </div>

                    <!-- bottles, tablet -->

                    <div class="form-group" ng-show="batch.bottles && batch.tablets">
                        <label for="noOfBottels" class="col-md-4 control-label" >Number of Bottles</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfBottels" class="form-control" ng-model="set4.data1">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.bottles && batch.tablets">
                        <label for="noOfTabletBottles2" class="col-md-4 control-label" >Number of Tablets per Bottle</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfTabletBottles2" class="form-control" ng-model="set4.data2">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.bottles && batch.tablets">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-primary" ng-click="batch.calculateQuantity(set4)">Calculate Quantity</button>
                        </div>
                    </div>

                    <!-- bottles, liquid -->

                    <div class="form-group" ng-show="batch.bottles && batch.liquid">
                        <label for="noOfBottels2" class="col-md-4 control-label" >Number of Bottles</label>
                        <div class="col-md-8">
                            <input type="number" min="0" id="noOfBottels2" class="form-control" ng-model="set5.data1">
                        </div>
                    </div>

                    <div class="form-group" ng-show="batch.bottles && batch.liquid">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="form-control btn btn-primary" ng-click="batch.calculateQuantity(set5)">Calculate Quantity</button>
                        </div>
                    </div>

                    <!-- end of dynamic form -->

                    <div class="form-group" >
                        <label for="quantity" class="col-md-4 control-label" >Quantity</label>
                        <div class="col-md-8">
                            <input type="text" id="quantity" class="form-control" ng-model="batch.quantity" required disabled>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label for="manufacDate" class="col-md-4 control-label" >Manufacture Date</label>
                        <div class="col-md-8">
                            <input type="text" id="manufacDate" class="form-control" ng-model="batch.batchData.bManufac" placeholder="yyyy-mm-dd"  required>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label for="expireDate" class="col-md-4 control-label" >Expire Date</label>
                        <div class="col-md-8">
                            <input type="text" id="expireDate" class="form-control"  ng-model="batch.batchData.bExpire"  placeholder="yyyy-mm-dd" required >
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <button type="submit" class="form-control btn btn-primary">Add</button>
                        </div>
                    </div>
                    <div clas="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <div class="row show-hide-message" ng-show="batch.successMessage">
                                <div class="alert alert-success">{{batch.successMessage}}</div>
                            </div>

                            <div class="row show-hide-message" ng-show="batch.errorMessage">
                                <div class="alert alert-danger">{{batch.errorMessage}}</div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>